body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: black;
}


div.container {
 
 

}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;

  }

  .navbar {
  	min-height: 70px;
  }

  .navbar-brand {
  padding-top: 15px;
  margin-top: 7px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

  .navbar-brand h1 { /* Company's name */
  color: black;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: .75px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}


  
}

.navbar-collapse {
 

}

 hr.visible-xs {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid black
  }

/**.navbar-default .navbar-collapse{
  border-top: 2px solid black
}**/


#nav-list {
  margin-top: 0;
  margin-bottom: 0;

}
#nav-list a {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;

}
#nav-list a:hover {
  
}

.row {
  background-color: gray;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  
}

#text {
  font-weight: bold;
}

section {
  text-align: center;
  padding-top: : 20px;
  font-size: 25px

}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
  }
}

@media (min-width: 992px) {
  .container{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
.container {
  width: 100%;
}

.navbar-toggle {
 display: block!important;
 position: absolute;
 right: 1%;
 margin-top: 0;
 top: 12px;
 

}


}

@media (min-width: 483px) and (max-width: 767px) {
.container {
  width: 100%;
}

.navbar-default .navbar-collapse{
  border-top: 2px solid black
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

@media (max-width: 479px) {
  #collapsable-nav span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 0px;
}
.navbar-default .navbar-collapse{
  border-top: 2px solid black

  }

 
}